.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vmin;
}

.clock {
  background: rgba(0, 0, 0, 0.6);
  color: #d4e157;
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 3% 6%;
  margin-bottom: 2%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  letter-spacing: 1px;
}
